p {
    background-color: black; 
    color: white;
    font-size: 20px;
}

li {
    list-style: decimal;
    text-decoration: underline;
    color: rgb(187, 159, 218);
    background-color: #f4dea1;
}