body, ul {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0px;
}

nav {
    text-align: center;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-top: 20px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s ease;
}

.menu li a:hover {
    background-color: #555;
}