// Placeholder Selectors : % 
// Define a Placeholder Selector
%button-styles {
    padding: 10px 20px;
    border: 2px solid #333;
    background-color: #eee;
    color: #333;
    text-transform: uppercase;
    cursor: pointer;
}

// Apply the Placeholder Selector To Specific Class(s)
.primary-button {
    @extend %button-styles;
    background-color: #007bff;
    color: #fff;
}

.secondary-button {
    @extend %button-styles;
    background-color: #6c757d;
    color: #fff;
}