// String Manipulation Functions
// Define a String Variable
$string: "hello, World";

// Function to Convert a String to Uppercase
@function to-uppercase($str) {
    @return uppercase($str);
}

// Function to Convert a String to Lowercase
@function to-lowercase($str) {
    @return lowercase($str);
}

// Function to Capitalize the First Letter of a String
@function capitalize($str) {
    $first-char: to-uppercase(str-slice($str, 1, 1));
    $rest-chars: str-slice($str, 2);

    @return #{$first-char}#{$rest-chars};
}

// Usage 
.uppercase {
    text-transform: to-uppercase($string);
}

.lowercase {
    text-transform: to-lowercase($string);
}

.capitalize {
    text-transform: capitalize($string);
}